@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

main {
  background-color: #FAFAFA;
}

.container {
  padding: 0 8vw;
}

.slick {
  &-prev {
    left: 8vw;
    z-index: 1;
    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='32' viewBox='0 0 20 32' fill='none'%3E%3Cpath d='M0.514971 14.7561L14.7568 0.514971C15.4434 -0.171657 16.5573 -0.171657 17.2439 0.514971L18.9052 2.17621C19.5911 2.86211 19.5918 3.97302 18.9081 4.66038L7.62087 15.9996L18.9074 27.3396C19.5918 28.027 19.5903 29.1379 18.9044 29.8238L17.2432 31.485C16.5566 32.1717 15.4427 32.1717 14.7561 31.485L0.514971 17.2432C-0.171657 16.5566 -0.171657 15.4427 0.514971 14.7561Z' fill='%23353535'/%3E%3C/svg%3E");
    }
  }
  &-next {
    right: 8vw;
    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='32' viewBox='0 0 20 32' fill='none'%3E%3Cpath d='M18.9047 17.2436L4.6633 31.4849C3.97646 32.1717 2.86291 32.1717 2.17613 31.4849L0.515117 29.8238C-0.170556 29.1382 -0.171875 28.0269 0.512186 27.3396L11.7987 16L0.512186 4.66039C-0.171875 3.9731 -0.170556 2.86182 0.515117 2.17615L2.17613 0.515134C2.86298 -0.171711 3.97653 -0.171711 4.6633 0.515134L18.9046 14.7564C19.5914 15.4432 19.5914 16.5567 18.9047 17.2436Z' fill='%23353535'/%3E%3C/svg%3E");
    }
  }
  &-dots {
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0 8px;
      bottom: 5vh;
      &.slick-active {
        button {
          &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8 0C3.58065 0 0 3.58065 0 8C0 12.4194 3.58065 16 8 16C12.4194 16 16 12.4194 16 8C16 3.58065 12.4194 0 8 0Z' fill='%23FAA500'/%3E%3C/svg%3E");
            opacity: 100;
            color: transparent;
          }
        }
      }
      button {
        &::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8 0C3.58065 0 0 3.58065 0 8C0 12.4194 3.58065 16 8 16C12.4194 16 16 12.4194 16 8C16 3.58065 12.4194 0 8 0ZM8 14.4516C4.43548 14.4516 1.54839 11.5645 1.54839 8C1.54839 4.43548 4.43548 1.54839 8 1.54839C11.5645 1.54839 14.4516 4.43548 14.4516 8C14.4516 11.5645 11.5645 14.4516 8 14.4516Z' fill='%23FAA500'/%3E%3C/svg%3E");
          opacity: 100;
        }
      }
    }
  }
  &-dotted {
    &.slick-slider {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1250px) {
  .container {
    padding: 0 2vw;
  }
}

@media (max-width: 1050px) {
  .slick {
    &-prev {
      left: 5vw;
    }
    &-next {
      right: 5vw;
    }
    &-dots {
      li {
        padding: 0 3px;
        bottom: 4vh;
        &.slick-active {
          button {
            &::before {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M4 0C1.79032 0 0 1.79032 0 4C0 6.20968 1.79032 8 4 8C6.20968 8 8 6.20968 8 4C8 1.79032 6.20968 0 4 0Z' fill='%23FAA500'/%3E%3C/svg%3E");
            }
          }
        }
        button {
          &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M4 0C1.79032 0 0 1.79032 0 4C0 6.20968 1.79032 8 4 8C6.20968 8 8 6.20968 8 4C8 1.79032 6.20968 0 4 0ZM4 7.22581C2.21774 7.22581 0.774194 5.78226 0.774194 4C0.774194 2.21774 2.21774 0.774194 4 0.774194C5.78226 0.774194 7.22581 2.21774 7.22581 4C7.22581 5.78226 5.78226 7.22581 4 7.22581Z' fill='%23FAA500'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }

  .container {
    padding: 0;
  }
  
  .header {
    .container {
      padding: 0 5vw;
    }
  }
}


@import "./header/header.scss";
@import "./full-banner/full-banner.scss";
@import "./tip-bar/tip-bar.scss";
@import "./partners/partners.scss";
@import "./shelf/shelf.scss";
@import "./banner-text/banner-text.scss";
@import "./newsletter/newsletter.scss";
@import "./footer/footer.scss";



  
