<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../dist/css/maeztra-test.main.min.css">
</head>
<body>
  <header class="header">
    <div class="header--info-bar">
      <p class="header--info-bar-text">
        Acompanhe as melhores promoções disponíveis aqui na Maeztra.
      </p>
    </div>
    <div class="header--main container">
      <div class="header--main--menu-mob">
        <img id="menuMob" class="header--main--menu-mob--icon" src="../../../layout/src/img/header/mobile/icon-menu-mobile.svg" alt="Ícone do Menu">
      </div>
      <div class="header--main--logo">
        <img class="header--main--logo--desk" src="../../../layout/src/img/header/desktop/logo-header.svg" alt="Logo Maeztra">
        <img class="header--main--logo--mob" src="../../../layout/src/img/header/mobile/logo-header-mobile.svg" alt="Logo Maeztra">
      </div>
      <div class="header--main--search">
        <div class="header--main--search-mob">
          <img id="searchMob" class="header--main--search-mob--icon" src="../../../layout/src/img/header/mobile/icon-search-mobile.svg" alt="Ícone de Pesquisa">
        </div>
        <input class="header--main--search--input" id="header-search" placeholder="O Que Você Busca?"/>
        <div class="header--main--search--button">
          <span>Buscar</span>
        </div>
      </div>
      <div class="header--main--user">
        <div class="header--main--user--item">
          <a href="#">
            <img class="header--main--user--item--icon" src="../../../layout/src/img/header/desktop/icon-profile.svg" alt="Ícone Acesso Minha Conta">
            <span class="header--main--user--item--text">Minha Conta</span>
          </a>
        </div>
        <div class="header--main--user--item">
          <a href="#">
            <img class="header--main--user--item--icon" src="../../../layout/src/img/header/desktop/icon-heart.svg" alt="Ícone Coração Wishlist">
            <span class="header--main--user--item--text">Minha Conta</span>
          </a>
        </div>
        <div class="header--main--user--item-mob">
          <a>
            <img class="header--main--user--item-mob--icon" src="../../../layout/src/img/header/mobile/icon-bag-mobile.svg" alt="Ícone Sacola do Carrinho">
          </a>
        </div>
        <div class="header--main--user--item">
          <a href="#">
            <img class="header--main--user--item--icon" src="../../../layout/src/img/header/desktop/icon-bag.svg" alt="Ícone Sacola do Carrinho">
            <span class="header--main--user--item--text">Meu Carrinho</span>
          </a>
        </div>
      </div>
    </div>
    <div class="header--menu container">
      <nav class="header--menu--nav">
        <div class="header--menu--nav--item">
          <a href="#">
            <img class="header--menu--item" src="../../../layout/src/img/header/desktop/icon-dress.svg" alt="Ícone Vestido Novidades">
            Novidades
          </a>
        </div>
        <div class="header--menu--nav--item">
          <a href="#">Vestidos</a>
        </div>
        <div class="header--menu--nav--item">
          <a href="#">Roupas</a>
        </div>
        <div class="header--menu--nav--item">
          <a href="#">Sapatos</a>
        </div>
        <div class="header--menu--nav--item">
          <a href="#">Lingerie</a>
        </div>
        <div class="header--menu--nav--item">
          <a href="#">Acessórios</a>
        </div>
        <div class="header--menu--nav--item">
          <a href="#">OUTLET</a>
        </div>
      </nav>
    </div>
  </header>
    <main>

    </main>
    <script type="module" src="../../dist/js/maeztra-test.main.min.js"></script>
</body>
</html>