.newsletter {
    display: flex;
    height: 120px;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #a4a1a114;
    border-bottom: 2px solid #a4a1a114;
    &--text {
        padding-right: 15px;
        span {
            font-size: 24px;
            font-weight: 700;
        }
    }
    &--input {
        display: flex;
        input {
            width: 26vw;
            height: 40px;
            border-radius: 4px;
            padding-left: 24px;
            border: 1px solid #000;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-right: 0;
            &:focus {
                outline: none;
            }
        }
        &--button {
            width: 131px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FAA500;
            color: #ffffff;
            border-radius: 4px;
            position: relative;
            right: 1vw;
            cursor: pointer;
            span {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 1050px) {
    .newsletter {
        display: grid;
        &.container {
            padding: 0 5vw;
        }
        &--text {
            padding-bottom: 8px;
            padding-right: 0;
            text-align: center;
        }
        &--input {
            input {
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
                border-right: 1px solid #000;;
                margin-right: 15px;
                height: 26px;
                width: 45vw;
            }
            &--button {
                position: inherit;
                height: 28px;
            }
        }
    }
  }